#taskListContainer {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 350px;
}

.container {
    overflow-y: hidden;
}

.img-square{
    height: 50%;
    width: auto;
  }

.deleteContact {
    padding-right: 20px;
}
